# secrets
.env

# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Node / VS Code extension
node_modules/
package-lock.json
*.vsix
out/
dist/

# OS
.DS_Store
Thumbs.db

# misc
docs/nohup.out
tmp/
